/*admin dashbaord css*/

.table-responsive .student .fa 
{
    cursor: pointer;
    font-size: 17px;
}


/*merchant dashboard*/

.mailbox .drop-title {
    font-weight: 500;
    padding: 11px 20px 15px;
    border-radius: 2px 2px 0 0;
    position: relative;
}
.topbar .dropdown-menu {
    padding-top: 0;
    border: 0;
    box-shadow: 1px 1px 15px rgba(0,0,0,.1);
}
.mailbox .drop-title:after {
    content: "";
    position: absolute;
    background: url(https://www.wrappixel.com/demos/admin-templates/nice-admin/assets/images/background/img5.png) no-repeat;
    opacity: .2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
}
.mailbox .message-center {
    height: 317px;
    overflow: auto;
    position: relative;
}
.mailbox .message-center .message-item {
    border-bottom: 1px solid rgba(0,0,0,.1);
    display: block;
    text-decoration: none;
    padding: 9px 15px;
}
.mailbox .message-center .message-item .mail-contnet {
    display: inline-block;
    width: 75%;
    padding-left: 10px;
    vertical-align: middle;
}
.ps-container {
    -ms-touch-action: auto;
    touch-action: auto;
    overflow: hidden!important;
    -ms-overflow-style: none;
}
.mailbox .message-center .message-item .mail-contnet .mail-desc, .mailbox .message-center .message-item .mail-contnet .time {
    font-size: 12px;
    display: block;
    margin: 1px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #afb5c1;
    white-space: nowrap;
}
.btn-circle {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 5px;
    line-height: 30px;
}
.topbar .dropdown-menu .with-arrow {
    position: absolute;
    height: 10px;
    overflow: hidden;
    width: 40px;
    top: -10px;
}
.ps-container.ps-active-x>.ps-scrollbar-x-rail, .ps-container.ps-active-y>.ps-scrollbar-y-rail {
    display: block;
    background-color: transparent;
}