.home-nav {
    background-color: #2f3336;
}
body
{
    font-family: 'Rubik', sans-serif;
}
.back {
    background: #f4f4f4;
}
.home-nav .navbar {
    padding: 0px;
}
.home-head .navbar {
    padding: 0px;
}
.home-nav .loc-home .fa-dot-circle-o  {
    position: relative;
    width: 60px;
    text-align: center;
    font-family: 'FontAwesome';
    font-size: 15px;
    background-color: #27282c;
    color: #919394;
    padding: 13px;
    vertical-align: top;
}
.home-nav .loc-home .fa-map-marker:after,
.home-nav .cart-home .fa-dot-circle-o:after {
    font-family: 'FontAwesome';
    content: '\f0da';
    color: #27282c;
    position: absolute;
    font-size: 24px;
    right: -9px;
    top: 9px;
    z-index: 10;
}
.home-nav .cart-home .fa-map-marker {
    position: relative;
    width: 60px;
    text-align: center;
    font-family: 'FontAwesome';
    font-size: 15px;
    background-color: #27282c;
    color: #919394;
    padding: 13px;
    vertical-align: top;
}
.home-nav .cart-home  {
 margin-left: 50px;
}
.home-nav .accountarea  ul li {
   text-align: center;
}
.home-nav .accountarea {
    margin-left: 100px;
}
.home-nav .paddingcust {
    padding: 8px 20px;
}
.home-nav .navbar-toggler {
    border-radius:0px;
    border:none;
}
.home-nav .accountarea ul li a{
    display: block;
    background-color: #27282c;
}
.home-nav .accountarea a {
    margin-right: -2px;
    padding: 13px 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    border-radius: 0;
    border: none;
    font-size: 11px;
    color: #919394;
    vertical-align: middle;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.home-nav a i.icon-margin {
    margin: 0 8px 0 0;
    padding: 0;
}
.home-nav a i {
    font-size: 15px;
}
.home-nav .accountarea .btn:hover {
    background: #5ba835;
    color: #fff;
}
.home-nav .accountarea .facebook:hover {
    background: #3b5998 !important;
    color: #fff;
}
.home-nav .accountarea .twitter:hover {
    background: #1da1f2 !important;
    color: #fff;
}
.home-nav .accountarea .google:hover {
    background: #db493c !important;
    color: #fff;
}
.home-nav .accountarea .navbar-nav .nav-item {
    padding: 0px 2px;
}
.home-head {
    background: #fff;
}
.home-head .navbar-light .navbar-nav .nav-link {
    color: orangered !important;
}
.home-head .header-right .navbar-nav li {
    padding: 24px 12px;
    font-size: 14px;
    color: orangered;
    font-style: bold;
    font-weight: 700;
}
.home-head .header-right .dropdown:hover>.dropdown-menu {
    display: block;
}
/* divider all section */

.home-area .white-block-title .fa {
    font-size: 32px;
    color: orangered;
    padding: 24px 20px 18px 25px;
    border-right: 1px solid #f4f4f4;
    text-align: center;
}
.home-area .white-block-title h2 {
    position: relative;
    display: inline-block;
    padding-left: 16px;
    font-weight: 900;
    font-size: 22px;
    line-height: 31px;
    color: #2f3336;
    top: -5px;
}
.home-area .white-block-title a {
    float: right;
    margin-left: 12px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 700;
    border-left: 1px solid #f4f4f4;
    text-decoration: none;
}
.home-area .white-block-title span.text-body {
    font-size: 12px;
    margin: 33px 8px 9px 0;
    color: orangered !important;
    float: left;
}
/* same code */

.home-area .inner .item-ratings span.rs {
    font-size: 12px;
    color: #8c8c8c;
}
.home-area .inner .item-ratings span.red-meta {
    color: #f64c06;
    font-size: 12px;
}
.home-area .inner .bottom-meta .fa {
    margin-right: 5px;
    font-size: 13px;
    color: #7c7c7c;
}

/* Rating Star Widgets Style */
.home-area .inner .item-ratings .rating-stars ul {
  list-style-type:none;
  padding:0;
  -moz-user-select:none;
  -webkit-user-select:none;
}
.home-area .inner .item-ratings .rating-stars ul > li.star {
  display:inline-block;
  
}
.home-area .inner .item-ratings .rating-stars ul > li.star > i.fa {
  font-size:13px; 
  color:#ccc; 
}

.home-area .inner .item-ratings .rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

.home-area .inner .item-ratings .rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}
.home-area .inner .item-ratings .success-box {
 margin: 23px -100px;
    padding: 10px 0px;
}

.home-area .inner .item-ratings .success-box img {
  margin-right:10px;
  display:inline-block;
  vertical-align:top;
}

.home-area .inner .item-ratings .success-box > div {
  vertical-align:top;
  display:inline-block;
  color:#888;
}

.home-area .inner .item-ratings .fa-star {
    margin-right: 3px;
    font-size: 15px;
    color: #ec982b;
}
.home-area .inner .item-ratings .fa-star-o {
    color: #8c8c8c;
}
/* section featured deals  */

.home-area .sectionone {
    /*height: 400px;*/
    padding: 115px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.31);
    background-blend-mode: multiply;
}
.home-area .sectiontwo .looking {
    color: orangered;
    padding: 10px 20px;
    font-size: 22px;
    font-weight: 700;
}
.home-area .sectiontwo .inner ul .fistli a {
    border-right: 1px solid #f4f4f4;
    border-top: 1px solid #f4f4f4;
}
.home-area .sectiontwo .inner ul .fistli .active {
    position: relative;
    background-color: orangered;
    color: #ffffff;
    border: 1px solid orangered;
    padding: 12px 22px 13px;
    font-size: 13px;
}
.home-area .sectiontwo .inner ul .fistli a {
    text-decoration: none;
    color: #a2a4a5;
    padding: 12px 24px 18px;
    font-size: 13px;
}
.home-area .sectiontwo .inner ul li .active::after {
    position: absolute;
    top: 6px;
    font-family: 'FontAwesome';
    content: '\f0d9';
    color: #fff;
    font-size: 21px;
    right: -1px;
    z-index: 0;
}
.home-area .sectiontwo .inner .list-unstyled .secli .fa {
    text-decoration: none;
    color: #a2a4a5;
    width: 55px;
    padding: 12px 20px 14px;
    border-right: 1px solid #f4f4f4;
    font-size: 13px;
}
.home-area .sectiontwo .inner .list-unstyled .secli .catname {
    position: relative;
    padding-left: 13px;
    color: #515151;
    font-size: 13px;
    padding: 12px 24px 14px;
    line-height: 37px;
    text-decoration: none;
}
.home-area .sectiontwo .inner .list-unstyled .active span {
    font-weight: 600;
    font-size: 14px !important;
    color: #000000!important;
}
.home-area .sectiontwo .inner .list-unstyled .end {
    margin: 10px 10px;
    font-size: 11px;
    color: #5ba835;
    text-transform: uppercase;
    text-decoration: none;
    outline: 0;
}
.home-area .sectiontwo .inner .list-unstyled .secli {
    border: 1px solid #f4f4f4;
}
.home-area .sectiontwo .inner .list-unstyled .active a:before {
    position: absolute;
    left: 15;
    content: "";
    width: 7px;
    height: 35px;
    background-color: #5ba835;
    border: none;
}
.home-area .sectiontwo .localdeal .image img {
    width: 270px;
    height: 150px;
}
.home-area .shadow
{
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, .02)!important;
}
/*.deals-area .sectiontwo .inner .list-unstyled  .active a:after {
    position: absolute;
    left: 22px;
  
    content: "\f0da";
    font-family: "FontAwesome";
    font-size: 18px;
    color: #5ba835;
}*/

.home-area .sectiontwo .inner .list-unstyled a {
    text-decoration: none;
}
.home-area .sectiontwo .inner .slider-left .item-ratings {
    padding: 10px 20px;
}
.home-area .sectiontwo .inner .item-ratings .after-rate .fa-star {
    margin-right: 3px;
    font-size: 15px;
    color: #ec982b;
}
.home-area .sectiontwo .inner .slider-left .dealinfo a {
    margin: 10px 0;
    color: black;
    font-family: inherit;
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    line-height: 36px;
}
.home-area .sectiontwo .inner .slider-left .mr-3 {
    color: #7c7c7c;
    font-size: 11px;
    text-decoration: none;
}
.home-area .sectiontwo .inner .slider-right .price {
    color: orangered;
    font-family: inherit;
    font-size: 26px;
    font-weight: 700;
}
.home-area .sectiontwo .inner .slider-right .price-sale {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #adadad;
    text-decoration: line-through;
}
.home-area .sectiontwo .inner .slider-right .slider-action-button .btn2 {
    background-color: #5ba835;
    color: #ffffff;
    padding: 8px 25px;
    text-decoration: none;
    font-weight: 600;
}
/*.home-area .sectiontwo .inner .rating-sec {
    height: 35%;
}*/
.home-area .sectiontwo .viewmode ul li {
    padding: 5px 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #919394;
    text-decoration: none;
}
.home-area .sectiontwo .viewmode ul li a {
    padding: 0;
    color: #7c7c7c;
    border: none;
    font-size: 12px;
    margin-right: 3px;
    text-decoration: none;
}
/* third section */

.home-area .sectionthree .white-block-content .text-body {
    font-size: 19px;
    font-weight: 400;
    text-decoration: none;
}
.home-area .sectionthree .white-block-content {
    padding: 10px 20px;
}
.home-area .sectionthree .white-block-content .mr-3 {
    width: 40px;
    font-size: 13px;
    line-height: 33px;
    color: #b7b7b7;
}
.home-area .sectionthree .white-block-content .rr {
    background-color: #448722;
    color: #ffffff;
    padding: 9px 16px 9px 14px;
}
.home-area .sectionthree .white-block-content .btn3 {
    background-color: #5ba835;
    color: #ffffff;
    padding: 6px 18px 6px 16px;
    text-decoration: none;
}
/* forth section */

.home-area .sectionfour .white-block-content .text-body {
    font-size: 19px;
    font-weight: 400;
    text-decoration: none;
}
.home-area .sectionfour .white-block-content {
    padding: 10px 20px;
}
.home-area .sectionfour .white-block-content .mr-3 {
    width: 40px;
    font-size: 13px;
    line-height: 33px;
    color: #b7b7b7;
}
.home-area .sectionfour .white-block-content .rr {
    background-color: #448722;
    color: #ffffff;
    padding: 9px 16px 9px 14px;
}
.home-area .sectionfour .white-block-content .btn3 {
    background-color: #5ba835;
    color: #ffffff;
    padding: 4px 18px 7px 16px;
    text-decoration: none;
}
.home-area .sectionfour .inner .deal .fa-share-alt {
    position: absolute;
    top: 198px;
    right: 15px;
    padding: 7px 13px;
    font-size: 14px;
    color: #c1c2c2;
    background-color: #fff;
}
.home-area .sectionfour .inner .deal .prnt {
    background-color: #5ba835;
    color: #ffffff;
    position: absolute;
    top: 45%;
    left: 25px;
    border-radius: 4px;
    padding: 2px 10px;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
}
.home-area .sectionfour .inner .text-body {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    color: #2f3336;
    line-height: 26px;
}
.home-area .sectionfour .inner .price {
    color: orangered;
    font-family: inherit;
    font-size: 26px;
    font-weight: 700;
}
.home-area .sectionfour .inner .price-sale {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #adadad;
    text-decoration: line-through;
}
/* section fifth */

.home-area .sectionfifth .inner .coupon .share i {
    position: absolute;
    right: 15px;
    top: 37%;
    padding: 10px 13px;
    font-size: 14px;
    color: #c1c2c2;
    background-color: #fff;
}
.home-area .sectionfifth .inner .coupon .zzzz {
    top: 37%;
    left: 15px;
    position: absolute;
}
.home-area .sectionfifth .inner .coupon .rr {
    background-color: #448722;
    color: #ffffff;
    padding: 9px 16px 9px 14px;
}
.home-area .sectionfifth .inner .btn3 {
    background-color: #5ba835;
    color: #ffffff;
    padding: 4px 18px 7px 16px;
    text-decoration: none;
}
.home-area .sectionfifth .white-block-content {
    padding: 10px 20px;
}
.home-area .sectionfifth .inner .text-body {
    margin: 15px 0;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    color: #2f3336;
    line-height: 26px;
    text-decoration: none;
}
.home-area .sectionfifth .white-block-content .mr-3 {
    width: 40px;
    font-size: 13px;
    line-height: 33px;
    color: #b7b7b7;
}
/* section six */

.home-area .sectionsix .k1 {
    background-color: #fa6003;
}
.home-area .sectionsix .inner .featured-stores-title {
    color: #ffffff;
    padding: 65px 40px 64px;
    margin-right: -15px;
    margin-left: -15px;
}
.home-area .sectionsix .featured-stores-title .text-white {
    font-size: 14px;
    border: 3px solid #fff;
    border-radius: 0;
    padding: 6px 10px;
    font-weight: 700;
    text-decoration: none;
}
.home-area .sectionsix .featured-stores-title p {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    padding: 10px 0px;
}
.home-area .sectionsix .store-logo a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px 32px;
    border-right: 1px solid #f4f4f4;
}
/*section seven*/

.home-area .sectionseven .inner .btnnn {
    position: absolute;
    top: 193px;
    left: 45px;
    padding: 6px 15px 7px;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    background-color: #5ba835;
}
.home-area .sectionseven .inner .text-body {
    font-weight: 400;
    margin: 15px 0;
    line-height: 26px;
    text-decoration: none;
}
.home-area .sectionseven .inner .white-block-content {
    padding: 10px 20px;
}
.home-area .sectionseven .inner .white-block-content .lorem {
    font-size: 13px;
    line-height: 23px;
    margin-bottom: 15px;
    color: #2f3336;
}
.home-area .sectionseven .inner .white-block-content .fa-comments,
.home-area .sectionseven .inner .white-block-content .fa-calendar-o {
    margin-right: 5px;
    font-size: 13px;
    color: #7c7c7c;
}
.home-area .sectionseven .inner .white-block-content span {
    font-size: 13px;
    padding-right: 22px;
}
.home-section-eight {
    background-color: #27282c;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}
.home-area .sectionseven .inner .white-block-content span {
    font-size: 13px;
    padding-right: 22px;
    color: #7c7c7c;
}
/* footer content */

.home-section-eight {
    background-color: #27282c;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}
.home-section-eight .hj {
    color: #919394;
    text-decoration: none;
}
.home-section-eight .white-block-content ul li {
    padding-bottom: 9px;
}
.home-section-eight .white-block-content ul.list_TdbpdQzozp {
    columns: 3;
}
.home-section-eight .white-block-content ul.list_dtMYVyBlPF {
    columns: 3;
}
/* copyright */

.footer .copyright {
    background-color: #212225;
    padding: 30px 0;
}
.footer .copyright .powr {
    color: #fff;
}
.footer .copyright .pull-lefts {
    margin-top: 5px;
    font-size: 13px;
    color: #919394;
    text-align: center;
}
.footer .copyright .fa-angle-double-up {
    padding: 13px 16px;
    width: 40px;
    height: 40px;
    font-size: 13px;
    color: #7a7c7e;
    background-color: #27282c;
    border-radius: 20px;
    cursor: pointer !important;
}
.footer .copyright .to-top {
    position: absolute;
    left: 50%;
    top: -45px;
}
.footer .copyright .pull-rights .facebook {
    background-color: #3b5998;
    margin-right: 10px;
    padding: 7px;
    width: 30px;
    height: 30px;
    font-size: 16px;
    border-radius: 20px;
    color: #ffffff;
    text-align: center;
}
.footer .copyright .pull-rights .google {
    margin-right: 10px;
    padding: 6px;
    width: 30px;
    height: 30px;
    font-size: 16px;
    border-radius: 20px;
    color: #ffffff;
    text-align: center;
    background-color: #dd4b39;
}
.footer .copyright .pull-rights .twitter {
    background-color: #00aced;
    margin-right: 10px;
    padding: 7px;
    width: 30px;
    height: 30px;
    font-size: 16px;
    border-radius: 20px;
    color: #ffffff;
    text-align: center;
}
.footer .widget-footer {
    background-color: #27282c;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}
/*breadcrumb css*/

.home-area .page-title {
    background-color: orange;
    background-image: url(../../images/brand/breadcrumb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;
    padding: 40px 0;
}
.home-area .page-title h1 {
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
}
.home-area .page-title p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}
.home-area .sectiontwo .inner .list-unstyled .secli .count {
    float: right;
    color: #919394;
    font-size: 11px;
    padding: 5px 20px;
}
/* business page style */

.home-area .sectiontwo .inner .content {
    padding: 10px 20px;
}
.home-area .sectiontwo .inner .content p {
    margin-bottom: 25px;
    font-size: 16px;
    color: #2f3336;
    line-height: 26px;
}
.home-area .sectiontwo .inner .widget-tile .price {
    font-weight: 700;
    font-size: 36px;
    color: orangered;
}
.home-area .sectiontwo .inner .widget-tile .price-sale {
    margin-left: 10px;
    font-weight: 700;
    font-size: 16px;
    color: #a2a2a2;
    text-decoration: line-through;
}
.home-area .sectiontwo .inner .widget-tile {
    padding: 14px 20px;
    border-bottom: 1px solid #f4f4f4;
    text-align: left;
}
.home-area .sectiontwo .inner .price .btn2 {
    background-color: #5ba835;
    color: #ffffff;
    display: block;
    margin: 20px;
    padding: 15px 30px;
    font-size: 22px;
    text-decoration: none;
}
.home-area .sectiontwo .store .inner .view {
    padding: 2px 4px;
}
.home-area .sectiontwo .inner .view a {
    background-color: orangered;
    color: #ffffff;
    display: block;
    margin: 20px;
    padding: 11px 30px;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
}
.home-area .sectiontwo .inner .slider-right .expire,
.home-area .sectiontwo .inner .slider-right .bought {
    border: 1px solid #f4f4f4;
}
.home-area .sectiontwo .inner .slider-right .expire i {
    font-size: 20px;
    padding: 20px 18px;
    width: 70px;
    font-size: 41px;
    color: #ce531c;
    border-right: 1px solid #f4f4f4;
    vertical-align: super;
}
.home-area .sectiontwo .inner .slider-right .expire .info,
.home-area .sectiontwo .inner .slider-right .bought .info,
.home-area .sectiontwo .inner .slider-right .social .info {
    display: inline-block;
    margin-left: 20px;
}
.home-area .sectiontwo .inner .slider-right .expire .info p {
    font-size: 11px;
    color: #929292;
}
.home-area .sectiontwo .inner .slider-right .expire .info h4 {
    font-size: 26px;
    font-weight: 700;
    color: #ce531c;
    line-height: 1px;
}
.home-area .sectiontwo .inner .slider-right .bought i {
    padding: 20px 25px;
    font-size: 22px;
    color: #5ba835;
    vertical-align: baseline;
}
.home-area .sectiontwo .inner .slider-right .bought .info h4 {
    line-height: 0;
    font-size: 22px;
    font-weight: 700;
    color: #5ba835;
}
.home-area .sectiontwo .inner .slider-right .wrap {
    padding: 20px 10px;
    border-bottom: 1px solid #f4f4f4;
}
.home-area .sectiontwo .inner .slider-right .wrap li {
    margin: 0 20px;
}
.home-area .sectiontwo .inner .slider-right .wrap li p {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 12px;
    color: #a2a2a2;
    text-align: center;
}
.home-area .sectiontwo .inner .slider-right .wrap li h6 {
    margin: 0;
    font-weight: 700;
    font-size: 15px;
    color: orangered;
    line-height: 1;
    text-align: center;
}
.home-area .sectiontwo .inner .slider-right .social li {
    width: 33%;
    border-right: 1px solid #f4f4f4;
    text-align: center;
}
.home-area .sectiontwo .inner .slider-right .social li .share {
    position: relative;
    padding: 0;
    background-color: transparent;
    border-left: none;
    text-align: center;
}
.home-area .sectiontwo .inner .slider-right .social li i {
    padding: 10px 0;
    width: 100%;
    font-size: 21px;
    color: #929292;
}
.home-area .sectiontwo .inner .slider-right .social li a:hover .fa-facebook {
    background-color: #3b5998;
    color: #fff;
}
.home-area .sectiontwo .inner .slider-right .social li a:hover .fa-whatsapp {
    background-color: #5ba835;
    color: #fff;
}
.home-area .sectiontwo .inner .slider-right .social li a:hover .fa-link {
    background-color: orangered;
    color: #fff;
}
.home-area .sectiontwo .inner .slider-right .social li a:hover .fa-twitter {
    background-color: #00aced;
    color: #fff;
}
.home-area .sectiontwo .inner .slider-right .social li a:hover .fa-google-plus {
    background-color: #dd4b39;
    color: #fff;
}
.home-area .sectiontwo .inner .slider-right .social li a:hover .fa-envelope-o {
    background-color: orangered;
    color: #fff;
}

/* comment area css */

.home-area .sectiontwo .inner .comment-wrapper {
    padding: 10px 20px;
}
.home-area .sectiontwo .inner .comment-wrapper .panel-heading {
    padding: 10px 0px;
    font-size: 20px;
    font-weight: 600;
}
.home-area .sectiontwo .inner .comment-wrapper .panel-body {
    max-height: 650px;
    overflow: auto;
}
.home-area .sectiontwo .inner .comment-wrapper .panel-body textarea:focus, 
textarea.form-control:focus
{
  border: 1px solid orangered;
  box-shadow: none;
}
.home-area .sectiontwo .inner .comment-wrapper .media-list .media-body {
   background: #f2f2f2;
    padding: 0px 10px;
    border-radius: 12px;
}
.home-area .sectiontwo .inner .comment-wrapper .media-list .media-body p {
  margin-top: 10px;
  color: #2f3336;
}
.home-area .sectiontwo .inner .comment-wrapper .media-list .media img {
    width: 75px;
    height: 75px;
    border: 2px solid orangered;
    border-radius: 40px;
}
.storebanner .card-block {
    padding: 20px;
}
.storebanner .card-block .section-title h2 {
    font-weight: 700;
    font-size: 30px;
}
.storebanner .card-block .section-title .phone {
    font-weight: 400;
    font-size: 14px;
    color: black;
}
.storebanner .card-block .storedetails ul li {
    padding: 6px 4px;
}
/* business page css */

.home-area .sectiontwo .inner .desc p {
    font-weight: 400;
    font-size: 14px;
    color: #919394;
    border-bottom: 1px solid #f4f4f4;
}
.home-area .sectiontwo .inner .category a {
    display: block;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 13px;
    color: #919394;
    border-bottom: 1px solid #f4f4f4;
    text-decoration: none;
}
.home-area .sectiontwo .inner .category .active {
    background: orangered;
    color: #fff;
}
.home-area .sectiontwo .inner .white-block-c {
    padding: 0px 34px;
}
.home-area .sectiontwo .inner .white-block-c .nothing-found {
    margin: 0;
    padding: 10px 0;
    font-size: 22px;
    font-weight: 600;
}


/*coupon area modals*/

.home-area #myModal .coupon {
  border: 5px dotted #bbb;
  width: 80%;
  border-radius: 15px;
  margin: 0 auto;
  max-width: 600px;
}

.home-area #myModal .container {
  padding: 2px 16px;
  background-color: #f1f1f1;
}

.home-area #myModal .promo {
  background: #ccc;
  font-size: 24px;
}

.home-area #myModal .expire {
  color: red;
}

/*--thank you pop starts here--*/
.home-area .modal .thank-you-pop{
    width:100%;
    padding:20px;
    text-align:center;
}
.home-area .modal .thank-you-pop img{
    width:76px;
    height:auto;
    margin:0 auto;
    display:block;
    margin-bottom:25px;
}

.home-area .modal .thank-you-pop h1{
    font-size: 42px;
    margin-bottom: 25px;
    color:#5C5C5C;
}
.home-area .modal .thank-you-pop p{
    font-size: 16px;
    margin-bottom: 20px;
    color:#5C5C5C;
}
.home-area .modal .thank-you-pop h3.cupon-pop{
    font-size: 22px;
    margin-bottom: 20px;
    color:#222;
    text-align:center;
    padding:8px 8px;
    border:2px solid #a2a4a5;
    clear:both;
    font-weight:normal;
}
.home-area .modal .thank-you-pop h3 .cupon-pop span{
    color:#03A9F4;
}
.home-area .modal .cupon-pop span{
   float: right;
   display: grid;
}
.home-area .modal .thank-you-pop a{
    display: inline-block;
    margin: 0 auto;
    padding: 20px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #8BC34A;
    border-radius: 17px;
}
.home-area .modal .thank-you-pop a i{
    margin-right:5px;
    color:#fff;
}
.home-area .modal .modal-header,.home-area .modal .modal-footer{
    border:0px;
}
.home-area .modal .modal-footer .btn2{
    background-color: orangered;
    color: #ffffff;
    display: block;
    margin: 20px;
    padding: 2px 20px;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
}
.home-area .modal .couponend .ego {
    margin: 7px 86px;
    padding: 15px;
    border: 2px dashed black;
}
.home-area .modal .couponend .btn {
   background: orangered;
   color: white;
}

/*--thank you pop ends here--*/

.home-area .carousel-control-next,.home-area .carousel-control-prev {
    top: 32% !important;
    bottom: 58% !important;
    background: orangered !important;
    width: 10% !important;
}
.home-area .carousel-indicators {
    bottom: -7% !important;
}

/*login page*/
.home-area .login .regcard,.home-area .login .logcard,.home-area .login .prcard{
    border-top: 10px solid orangered; 
}
.home-area .login .shadow{
  box-shadow:3px 3px 0 0 rgba(0, 0, 0, .02) !important;
}
.home-area .login  .white-block-title h2{
    top: 1px;
    position: relative;
    display: inline-block;
    padding-left: 20px;
    font-weight: 700;
    font-size: 22px;
    line-height: 31px;
    color: #2f3336;
}
.home-area .login .bored {
    border: 1px solid #f4f4f4;
}
.home-area .login  .white-block-title i{
    padding: 25px 29px 20px 29px;
    font-size: 22px;
    text-align: center;
    color: orangered;
}
.home-area .login input ,
.home-area .login select {
    height: 40px;
    background-color: #f4f4f4 !important;
    font-size: 13px;
    color: #676868;
    border: none !important;
    max-width: 100%;
}
.home-area .login textarea {
    background-color: #f4f4f4 !important;
    font-size: 13px;
    color: #676868;
    border: none !important;
    max-width: 100%;
}
.home-area .login .custom-control-label{
    font-size: 13px;
    color: #676868;
    border: none;
    margin: 2px 0px;
}
.home-area .login .input-group{
    margin-bottom: 25px;
    width: 100%;
}
.home-area .login input:focus,select:focus,.home-area .login .login-btn{
  box-shadow: none !important;
}
.home-area .login .text-right a{
    font-size: 14px;
}
.home-area .login .login-btn{
    background-color: #5ba835;
    color: #fff;
    font-family: inherit;
    border-radius: 2px !important;
}
.home-area .login .fb-btn{
    background-color: #3b5998;
    color: #fff;
    font-family: inherit;
    border-radius: 2px !important;
}
.home-area .login .reg-btn{
    background-color: #5ba835;
    color: #fff;
    font-family: inherit;
    border-radius: 2px !important;
}
.home-area .login .side h2{
    font-weight: 700;
    font-size: 22px;
    line-height: 31px;
    color: #2f3336;
}
.home-area .login  .custom-control-label:focus {
    outline:none;
    border: none;
}
.home-area .register label,.home-area .profile label{
    margin-bottom: 7px;
    font-weight: 700;
    font-size: 14px;
}

/*profile page*/
.home-area .profile .white-block-title p{
  padding: 0px 2px;
  font-size: 14px;
}
.home-area .profile .white-block-title .avatar{
  height: 68px;
  width: 68px;
}
.home-area .profile .tabbable-responsive {
  display: block;
  min-width: 100%;
  overflow-x: auto;
  margin: 0px -20px -13px -14px;
}
.home-area .profile .tabbable {
    min-width: 100%;
}
.home-area .profile .tabbable-responsive  a {
    color: #2f3336 !important;
}
.home-area .profile .text-dark {
  text-decoration: none !important;
}
.home-area .profile .elmahio-ad {
  background: #fff;
  box-shadow: 0px 0px 0px 1px #ddd;
  border-radius: 4px;
  overflow: hidden;
}
.home-area .register .error,.home-area .profile .error,.home-area .login .error {
    color: red !important;
    font-weight: 500;
}
.home-area .profile .verifyphone,.home-area .profile .verifyotp
{
    margin: -57px 0;
    background: orangered !important;
    color: white;
    padding: 9px 15px;
    border-radius: 5px;
    float: right;
    cursor: pointer;
}
.home-area .profile .pills .card-text 
{
    font-size: 14px;
    color: #676868;
}
.home-area .profile .box-part{
    background:#f2f2f2;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}

.home-area .orange {
    color: orangered;
}
.home-area .profile .dash li {
    position: relative;
    display: inline-block;
    padding: 15px 20px;
    width: 49%;
    margin-bottom: 15px;
    border: 1px solid #f4f4f4;
    border-left: 2px solid #5b0f70;
    color: #202020;
}

.home-area .profile .dash .due {
   border-left:2px solid green;
}
.home-area .profile .dash .sent {
   border-left:2px solid red;
}
.home-area .profile .dash .due .badge,.home-area .profile .dash .sent .badge {
   font-weight: 600;color:#0000008a;
}
.home-area .profile .dash li i {
    width: 20px;
    text-align: center;
    color: #919394;
}
.home-area .profile .dash span {
    float: right;
    border-radius: 0;
    background-color: #fff;
    color: #919394;
    font-size: 26px;
    line-height: 12px;
}
.home-area .profile #myTab h4 {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
}
/*.home-area .profile #myTab p {
    font-size: 11px;
    color: #7c7c7c;
    padding: 4px 0px;
    margin-bottom: -8px;
}*/
.home-area .profile .nav-tabs .nav-link {
     border: none !important; 
    border-top-left-radius:  0 !important; 
     border-top-right-radius:  0 !important; 
}

.home-area .profile .nav-tabs .nav-link.active {
 
    border-top: 2px solid orangered !important;
    background: #fafafa;
}
.home-area .profile .nav-tabs .nav-link h4 {
     margin: 0 !important; 
}
/*.home-area .profile .nav-tabs .nav-link.active:after
{
    position: absolute;
    top: 17px;
    font-family: 'FontAwesome';
    content: '\f0d7';
    color: orangered;
    font-size: 18px;
    left: 68px;
    z-index: 0;
}*/
.home-area .profile #myTab li i{
color: #737576;
}
.home-area .profile .prcard .card-header
{
    border:none;
}
.home-area .profile .prcard .card-body
{
    border:1px solid #f4f4f4;
}
.home-area .profile .prcard .nav-tabs {
    border-bottom:none !important ;
}
.home-area .profile .prcard .nav-tabs .nav-item {
    margin-bottom: 0px;
}

/*table code*/
.home-area .profile .container table{
    font-size: 13px;
    border: 1px solid #f4f4f4;
}
.home-area .profile .container .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.home-area .profile .container .table-striped tbody{
    color: #919394;
    font-size: 12px;
}
.table-striped > tbody > tr > td,
.table-striped > tbody > tr > th,
.table-striped > tfoot > tr > td,
.table-striped > tfoot > tr > th,
.table-striped > thead > tr > td,
.table-striped > thead > tr > th {
    border: none;
}
.table-striped > thead > tr > td,.table-striped > thead > tr > th{
    border-right: 1px solid #f4f4f4; 
}
.home-area .profile .container .tablepr tbody tr>td a:first-child{
   color: #5ba835;
}
.home-area .profile .container .tablepr tbody tr>td:nth-child(6){
   color: #5ba835;
}
.home-area .profile #second .button h5{
    display: inline-block;
    font-size: 14px;
    padding: 8px 25px;
    color: #fff;
    font-weight: 500;
    background-color: #5ba835;
}
.home-area .modal label {
    font-size: 14px;
}
.home-area .modal .form-control:focus {
    box-shadow: inset 0 -1px 0 #ddd;
}
.home-area .modal .form-group input {
   font-size: 15px;
}
.home-area .modal .form-group select {
   font-size: 13px;
}


/*user profile*/
.home-area .emp-profile{
    padding: 3%;
    border: none;
}
.home-area .emp-profile .profile-img{
    text-align: center;
}
.home-area .emp-profile .profile-img img{
    width: 100%;
    height: 220px;
}
.home-area .emp-profile .Personal {
    border-bottom:1px solid #f2f2f2;
}
.home-area .emp-profile .profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.home-area .emp-profile .profile-head h5{
    color: #333;
}
.home-area .emp-profile .profile-head h6{
    color: #0062cc;
}

.home-area .emp-profile .proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 2%;
}
.home-area .emp-profile .proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.home-area .emp-profile .profile-head .nav-tabs{
    margin-bottom:5%;
}
.home-area .emp-profile .profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.home-area .emp-profile .profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.home-area .emp-profile .profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.home-area .emp-profile .profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.home-area .emp-profile .profile-work ul{
    list-style: none;
}
.home-area .emp-profile .profile-tab label{
    font-weight: 600;
}
.home-area .emp-profile .profile-tab p{
    font-weight: 500;
    color: #919394;
    font-size: 16px;
}
.home-area .emp-profile #deals {
    border: 1px solid #f2f2f2;
    padding: 3px;
}
.home-area .emp-profile #deals img {
    width:100%;
    height:160px;
}

/*blog page*/
.home-area .blog  .thumbnail img {
    width:100%; 
    height:240px;
}
.home-area .blog .white-block-contents  .bg-warning{
   background-color:orangered !important; 
}
.home-area .blog .white-block-contents  .bg-primary{
   background-color:#2f6cad !important; 
}
.home-area .blog .white-block-contents  .bg-purple{
   background-color:#762fb4 !important; 
}
.home-area .blog .white-block-contents  .bg-success{
   background-color:#8bc34a!important; 
}
.home-area .blog .white-block-contents .cats {
    background-color: #5ba835;
    color: #ffffff;
    border-radius: 4px;
    display: inline-block;
    padding: 2px 10px;
    letter-spacing: .2em;
    font-weight: 700;
    font-size: .6rem;
    text-transform: uppercase;
    text-decoration: none;
}
.home-area .blog .white-block-contents h2 {
    font-size: 22px;
    margin-bottom: 30px;
    font-weight: 700;
    line-height: 1.5;
    color: #000;
}
.home-area .blog .white-block-contents a {
   text-decoration: none;
}
.home-area .blog .bottom-meta img {
	width: 30px;
    border-radius: 50% !important;
}
.home-area .blog .bottom-meta .text-dim {
	color: #b3b3b3;
	font-size: 13px;
	margin-left: 10px;
}
.home-area .blog .bottom-meta .text-p {
	color: #a19e9e;
    font-weight: 300;
    line-height: 1.7;
}

/*bloppage*/
.home-area .blogpage .overlay
{
    position: relative;
    padding: 300px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
 
}
.home-area .blogpage .overlay .cats {
    background-color: #5ba835;
    color: #ffffff;
    border-radius: 4px;
    display: inline-block;
    padding: 2px 10px;
    letter-spacing: .2em;
    font-weight: 700;
    font-size: .6rem;
    text-transform: uppercase;
    text-decoration: none;
}
.home-area .blogpage .overlay h2 {
    font-size: 68px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
}
.home-area .blogpage .bottom-meta img {
    width: 30px;
    border-radius: 50% !important;
}
.home-area .blogpage .bottom-meta .text-dim {
    color: #b3b3b3;
    font-size: 13px;
    margin-left: 10px;
}
.home-area .blogpage .sidebar .recent h5 {
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 6px;
}
.home-area .blogpage .sidebar .recent img {
    width: 140px;
    height: 70px;   
}
.home-area .blogpage .sidebar .recent .text {
    font-size: 16px;
}
.home-area .blogpage .sidebar .recent .text-dim {
    color: #b3b3b3;
    font-size: 14px;
    margin-left: 10px;
}
/*Responsive*/
@media screen and (min-width: 300px) and (max-width: 600px) {
    .home-nav .accountarea  ul li,.home-nav .loc-home ,.home-nav .cart-home {
      margin: 5px !important;
    }
    .home-nav .navbar-brand img {
      height: 26px;
      width: 72px;
    }
    .home-head .navbar-brand img {
      display: none;
    }
   .home-nav .accountarea {
      margin-left: 0px !important;
    }
    .home-nav .cart-home  {
     margin-left: 5px !important;
    }
    .home-area .white-block-title h2
    {
        font-size: 11px;
    }
    .home-area .white-block-title .fa {
       font-size: 18px;
       padding: 20px 20px 13px 19px;
    }
    .carousel-inner .corousel-image {
        height: 300px !important;
    }
    .home-area .white-block-title span.text-body {
      margin: 23px -8px 17px 0;
      font-size: 9px;
    }

    /*profile page*/
    .home-area .profile .prcard .tabbable .nav {
        display: block;
    }
    .home-area .profile .profilearea .nav-link.active {
       border-left: 2px solid orangered !important;
       border-top: none !important;
    }
    .home-area .profile .dash li {
       width: 100% !important;
    }
    .home-area .profile .dash span {
       font-size: 20px !important;
    }
    .home-area .profile  .tablepr, 
    .home-area .profile .item-ratings {
      overflow: auto !important;
    }

    /*local deal*/
    .home-area .sectiontwo .localdeal .image img {
       width: 100%;
       height: 150px;
    }

    /*comment*/
    .home-area .sectiontwo .inner .comment-wrapper .media-list{
       padding: 0;
    }
    .home-area .modal .couponend .ego {
       margin: 7px 50px;
    }
    /*user profile*/
    .home-area .emp-profile .profile-work{
       border-bottom:1px solid #f2f2f2;
    }
}

@media screen and (max-width: 768px) and (min-width: 601px) {
    .home-nav .accountarea  ul li,.home-nav .loc-home ,.home-nav .cart-home {
       margin:5px;
    }
    .home-nav .accountarea {
       margin-left: 0px !important;
    }
    .home-nav .cart-home  {
       margin-left: 5px !important;
    }
    .carousel-inner .corousel-image {
       height: 300px !important;
    }
    .home-head .navbar-brand img {
       display: none;
    }
    .home-nav .navbar-brand img {
      height: 27px;
      width: 80px;
    }
    .home-area .white-block-title h2
    {
        font-size: 16px;
    }
    .home-area .white-block-title .fa {
       font-size: 20px;
       padding: 20px 20px 13px 19px;
    }
    .home-area .white-block-title span.text-body {
        margin: 20px 0px 13px 0px;
        float: left;
        font-size: 12px;
    }
    .carousel-inner .corousel-image {
        height: 300px !important;
    }

}

@media screen and (max-width: 992px) and (min-width: 769px) {
    .home-nav .accountarea {
       margin-left: 0px !important;
    }
    .carousel-inner .corousel-image{
       height: 300px !important;
    }
    .home-head .navbar-brand img {
        width: 80px;
        height: 50px;
    }
    .home-nav .accountarea a {
       padding: 12px 11px;
    }
    .home-nav .navbar {
        margin: -2px 0px 0px -75px;
    }
    .home-nav .accountarea .navbar-nav{
        margin: 0 0px 0px 80px;
    }
    .home-area .sectiontwo .inner .slider-right .slider-action-button .btn2 {
        padding: 6px 8px;
        font-size: 12px;
    }
    .home-area .sectiontwo .inner ul .fistli a {
        display: flex;
    }
    .home-area .sectiontwo .inner .list-unstyled .secli .catname {
        padding: 0;
    }
    .home-area .sectionfour .inner .coupon .prnt {
        top: 34% !important;
    }
    .home-area .sectionfour .inner .deal .prnt {
        top: 40% !important;
    }
    .home-area .white-block-title h2
    {
        font-size: 17px;
    }
    .home-area .white-block-title .fa {
       font-size: 21px;
       padding: 20px 20px 13px 19px;
    }
    .carousel-inner .corousel-image {
        height: 300px !important;
    }
    .home-area .white-block-title span.text-body {
        margin: 21px 1px 2px 44px;
        float: left;
        font-size: 13px;
    }
    .home-area .sectiontwo .inner .list-unstyled .secli .catname {
       font-size: 8px !important;
       padding: 12px 7px 14px !important;
    }
    .home-area .sectiontwo .inner .list-unstyled .secli .count {
      font-size: 8px !important;
      padding: 5px 20px !important;
    }
}

@media screen and (max-width: 1200px) and (min-width: 993px) {
    .home-area .sectiontwo .inner .list-unstyled .secli .catname {
       font-size: 11px !important;
       padding: 12px 7px 14px !important;
    }
    .home-area .sectiontwo .inner .list-unstyled .secli .count {
      font-size: 11px !important;
      padding: 5px 20px !important;
    }
}
@media (min-width: 1200px) {
.home-area .lastone {
    max-width: 1200px;
   }
}



